In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS
import math
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [0]:
def forward_stepwise_selection_BIC(X, y, BIC_diff):
  # start with all variables in the model
  # try dropping each variable one by one from the model
  # drop the variable that would lead to the greatest improvement
  # next, try dropping the remaining variables in the model one by one
  # drop the variable that would lead to the greatest improvement
  # repeat this process until it is no longer possible to improve the model
  
  # X: dataframe with explanatory variables
  # y: variable we are trying to predict
  X_variables = list(X.columns)
  good_vars = []
  good_vars_bic = []
  model = sm.OLS(endog=y, exog=X, missing='drop') #X.astype(float))
  results = model.fit()
  old_BIC =  np.inf
  counter = 20
  while len(X_variables) > 0 and counter > 0: # model is improving and there is at least one explanatory variable
    print("counter = {}".format(counter))
    counter -= 1
    current_best_bic = np.inf
    best_variable_to_add = None
    for variable in X_variables:
      model = sm.OLS(endog=y, exog=X[good_vars + [variable]], missing='drop')
      results = model.fit()
      bic = results.bic
      if bic < current_best_bic:
        current_best_bic = bic
        best_variable_to_add = variable
    if (old_BIC - current_best_bic) > BIC_diff: 
      print("best variable to add = {}".format(best_variable_to_add))
#       print(current_best_bic)
      X_variables.remove(best_variable_to_add)
      good_vars.append(best_variable_to_add)
      good_vars_bic.append(current_best_bic)
      old_BIC = current_best_bic
      print(old_BIC)
    else:
      return good_vars, good_vars_bic
  return good_vars, good_vars_bic

Beer Data

In [6]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [22]:
data = pd.read_csv('gdrive/My Drive/Project2_DATA_401/beer.csv')
data.head()

,index,beer/ABV,beer/beerId,beer/brewerId,beer/name,beer/style,review/appearance,review/aroma,review/overall,review/palate,review/taste,review/text,review/timeStruct,review/timeUnix,user/ageInSeconds,user/birthdayRaw,user/birthdayUnix,user/gender,user/profileName
0,40163,5.0,46634,14338,Chiostro,Herbed / Spiced Beer,4.0,4.0,4.0,4.0,4.0,Pours a clouded gold with a thin white head. N...,"{'min': 38, 'hour': 3, 'mday': 16, 'sec': 10, ...",1229398690,NaN,NaN,NaN,NaN,RblWthACoz
1,8135,11.0,3003,395,Bearded Pat's Barleywine,American Barleywine,4.0,3.5,3.5,3.5,3.0,12oz bottle into 8oz snifter.\t\tDeep ruby red...,"{'min': 38, 'hour': 23, 'mday': 8, 'sec': 58, ...",1218238738,NaN,NaN,NaN,NaN,BeerSox
2,10529,4.7,961,365,Naughty Nellie's Ale,American Pale Ale (APA),3.5,4.0,3.5,3.5,3.5,First enjoyed at the brewpub about 2 years ago...,"{'min': 7, 'hour': 18, 'mday': 26, 'sec': 2, '...",1101492422,NaN,NaN,NaN,Male,mschofield
3,44610,4.4,429,1,Pilsner Urquell,Czech Pilsener,3.0,3.0,2.5,3.0,3.0,First thing I noticed after pouring from green...,"{'min': 7, 'hour': 1, 'mday': 20, 'sec': 5, 'y...",1308532025,1.209827e+09,"Aug 10, 1976",208508400.0,Male,molegar76
4,37062,4.4,4904,1417,Black Sheep Ale (Special),English Pale Ale,4.0,3.0,3.0,3.5,2.5,A: pours an amber with a one finger head but o...,"{'min': 51, 'hour': 6, 'mday': 12, 'sec': 48, ...",1299912708,NaN,NaN,NaN,NaN,Brewbro000

In [47]:
targets = ["review/appearance", "review/aroma", "review/overall", "review/palate", "review/taste"]
predictors = ['beer/ABV', 'review/timeUnix', "beer/beerId", 'beer/brewerId', 'beer/style']
predictor_data = data[['beer/ABV', 'review/timeUnix', 'review/timeUnix']] # need to convert birthday to timestampe
data["review/text"] = ["" if isinstance(x, float) and math.isnan(x) else x.replace("\t", " ") for x in data["review/text"]] 
predictor_data.head()

   beer/ABV  review/timeUnix  review/timeUnix
0       5.0       1229398690       1229398690
1      11.0       1218238738       1218238738
2       4.7       1101492422       1101492422
3       4.4       1308532025       1308532025
4       4.4       1299912708       1299912708

In [48]:
beer_id_dummy = pd.get_dummies(data['beer/beerId'])
beer_id_dummy = beer_id_dummy.add_prefix('beer_id_')
beer_id_dummy.head()

,beer_id_175,beer_id_176,beer_id_178,beer_id_429,beer_id_436,beer_id_454,beer_id_503,beer_id_505,beer_id_507,beer_id_508,...,beer_id_76963,beer_id_76995,beer_id_76996,beer_id_76997,beer_id_76998,beer_id_76999,beer_id_77116,beer_id_77198,beer_id_77199,beer_id_77207
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
brewer_id_dummy = pd.get_dummies(data['beer/brewerId'])
brewer_id_dummy = brewer_id_dummy.add_prefix('brewer_id_')
brewer_id_dummy.head()

,brewer_id_1,brewer_id_14,brewer_id_60,brewer_id_163,brewer_id_263,brewer_id_289,brewer_id_365,brewer_id_394,brewer_id_395,brewer_id_453,...,brewer_id_26409,brewer_id_26612,brewer_id_26816,brewer_id_26946,brewer_id_26983,brewer_id_26990,brewer_id_27021,brewer_id_27079,brewer_id_27133,brewer_id_27797
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
beer_style_dummy = pd.get_dummies(data['beer/style'])
beer_style_dummy.head()

,Altbier,American Adjunct Lager,American Amber / Red Ale,American Amber / Red Lager,American Barleywine,American Black Ale,American Blonde Ale,American Brown Ale,American Dark Wheat Ale,American Double / Imperial IPA,...,Scotch Ale / Wee Heavy,Scottish Ale,Scottish Gruit / Ancient Herbed Ale,Smoked Beer,Tripel,Vienna Lager,Weizenbock,Wheatwine,Winter Warmer,Witbier
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
predictor_data = pd.merge(predictor_data, beer_style_dummy, left_index=True, right_index=True)
predictor_data = pd.merge(predictor_data, beer_id_dummy, left_index=True, right_index=True)
predictor_data = pd.merge(predictor_data, brewer_id_dummy, left_index=True,right_index=True)
predictor_data.head()

,beer/ABV,review/timeUnix,review/timeUnix,Altbier,American Adjunct Lager,American Amber / Red Ale,American Amber / Red Lager,American Barleywine,American Black Ale,American Blonde Ale,...,brewer_id_26409,brewer_id_26612,brewer_id_26816,brewer_id_26946,brewer_id_26983,brewer_id_26990,brewer_id_27021,brewer_id_27079,brewer_id_27133,brewer_id_27797
0,5.0,1229398690,1229398690,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,11.0,1218238738,1218238738,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4.7,1101492422,1101492422,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4.4,1308532025,1308532025,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4.4,1299912708,1299912708,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [0]:
# list of review text
text = data["review/text"]
# create the transform
vectorizer = TfidfVectorizer(stop_words = ENGLISH_STOP_WORDS, max_features=50, max_df=0.85,smooth_idf=True,use_idf=True)
vectorizer.fit(text)
vector = vectorizer.transform(text)

In [0]:
words = list(vectorizer.vocabulary_.keys())
vectorized_data = pd.DataFrame(vector.toarray(), columns = words)

In [0]:
X = pd.merge(predictor_data, vectorized_data, left_index=True, right_index=True)#pd.concat([data, vectorized_data], axis=1, ignore_index=True)
X["log(ABV)"] = np.log(data["beer/ABV"])
X["(ABV)^2"] = data["beer/ABV"] ** 2
y = data["review/overall"]

In [56]:
# Need to re-run with no limit on how many features to select (will take a long time though)
good_vars, bic = forward_stepwise_selection_BIC(X, y, 100)

X_variables = ['beer/ABV', 'review/timeUnix', 'review/timeUnix', 'Altbier', 'American Adjunct Lager', 'American Amber / Red Ale', 'American Amber / Red Lager', 'American Barleywine', 'American Black Ale', 'American Blonde Ale', 'American Brown Ale', 'American Dark Wheat Ale', 'American Double / Imperial IPA', 'American Double / Imperial Pilsner', 'American Double / Imperial Stout', 'American IPA', 'American Malt Liquor', 'American Pale Ale (APA)', 'American Pale Lager', 'American Pale Wheat Ale', 'American Porter', 'American Stout', 'American Strong Ale', 'American Wild Ale', 'Baltic Porter', 'Belgian Dark Ale', 'Belgian IPA', 'Belgian Pale Ale', 'Belgian Strong Dark Ale', 'Belgian Strong Pale Ale', 'Berliner Weissbier', 'BiÃ¨re de Garde', 'Black & Tan', 'Bock', 'Braggot', 'California Common / Steam Beer', 'Chile Beer', 'Cream Ale', 'Czech Pilsener', 'Doppelbock', 'Dortmunder / Export Lager', 'Dubbel', 'Dunkelweizen', 'Eisbock', 'English Barleywine', 'English Bitter', 'English Brown Ale', 'English Dark Mild Ale', 'English India Pale Ale (IPA)', 'English Pale Ale', 'English Pale Mild Ale', 'English Porter', 'English Stout', 'English Strong Ale', 'Euro Dark Lager', 'Euro Pale Lager', 'Euro Strong Lager', 'Extra Special / Strong Bitter (ESB)', 'Flanders Oud Bruin', 'Flanders Red Ale', 'Foreign / Export Stout', 'Fruit / Vegetable Beer', 'German Pilsener', 'Hefeweizen', 'Herbed / Spiced Beer', 'Irish Dry Stout', 'Irish Red Ale', 'Keller Bier / Zwickel Bier', 'Kristalweizen', 'KÃ¶lsch', 'Lambic - Fruit', 'Lambic - Unblended', 'Light Lager', 'Low Alcohol Beer', 'Maibock / Helles Bock', 'Milk / Sweet Stout', 'Munich Dunkel Lager', 'Munich Helles Lager', 'MÃ¤rzen / Oktoberfest', 'Oatmeal Stout', 'Old Ale', 'Pumpkin Ale', 'Quadrupel (Quad)', 'Rauchbier', 'Russian Imperial Stout', 'Rye Beer', 'Saison / Farmhouse Ale', 'Schwarzbier', 'Scotch Ale / Wee Heavy', 'Scottish Ale', 'Scottish Gruit / Ancient Herbed Ale', 'Smoked Beer', 'Tripel', 'Vienna Lager', 'Weizenbock', 'Wheatwine', 'Winter Warmer', 'Witbier', 'beer_id_175', 'beer_id_176', 'beer_id_178', 'beer_id_429', 'beer_id_436', 'beer_id_454', 'beer_id_503', 'beer_id_505', 'beer_id_507', 'beer_id_508', 'beer_id_510', 'beer_id_511', 'beer_id_512', 'beer_id_513', 'beer_id_514', 'beer_id_515', 'beer_id_562', 'beer_id_563', 'beer_id_638', 'beer_id_727', 'beer_id_798', 'beer_id_959', 'beer_id_960', 'beer_id_961', 'beer_id_962', 'beer_id_963', 'beer_id_965', 'beer_id_966', 'beer_id_967', 'beer_id_1018', 'beer_id_1121', 'beer_id_1122', 'beer_id_1123', 'beer_id_1152', 'beer_id_1154', 'beer_id_1324', 'beer_id_1413', 'beer_id_1414', 'beer_id_1415', 'beer_id_1418', 'beer_id_1492', 'beer_id_1504', 'beer_id_1521', 'beer_id_1525', 'beer_id_1535', 'beer_id_1536', 'beer_id_1537', 'beer_id_1538', 'beer_id_1539', 'beer_id_1542', 'beer_id_1546', 'beer_id_1549', 'beer_id_1550', 'beer_id_1554', 'beer_id_1557', 'beer_id_1589', 'beer_id_1598', 'beer_id_1599', 'beer_id_1620', 'beer_id_1621', 'beer_id_1622', 'beer_id_1681', 'beer_id_1791', 'beer_id_1825', 'beer_id_2106', 'beer_id_2324', 'beer_id_2572', 'beer_id_2599', 'beer_id_2718', 'beer_id_2719', 'beer_id_2725', 'beer_id_2726', 'beer_id_2740', 'beer_id_2776', 'beer_id_2780', 'beer_id_2784', 'beer_id_2788', 'beer_id_3003', 'beer_id_3274', 'beer_id_3326', 'beer_id_3365', 'beer_id_3386', 'beer_id_3517', 'beer_id_3537', 'beer_id_3606', 'beer_id_3619', 'beer_id_3804', 'beer_id_3806', 'beer_id_3810', 'beer_id_3816', 'beer_id_3824', 'beer_id_3825', 'beer_id_3939', 'beer_id_4014', 'beer_id_4073', 'beer_id_4110', 'beer_id_4370', 'beer_id_4371', 'beer_id_4372', 'beer_id_4373', 'beer_id_4374', 'beer_id_4570', 'beer_id_4786', 'beer_id_4824', 'beer_id_4872', 'beer_id_4904', 'beer_id_4920', 'beer_id_5008', 'beer_id_5009', 'beer_id_5181', 'beer_id_5182', 'beer_id_5256', 'beer_id_5360', 'beer_id_5411', 'beer_id_5441', 'beer_id_5481', 'beer_id_5487', 'beer_id_5537', 'beer_id_5547', 'beer_id_5617', 'beer_id_5652', 'beer_id_5657', 'beer_id_5658', 'beer_id_5659', 'beer_id_5660', 'beer_id_5756', 'beer_id_5761', 'beer_id_5916', 'beer_id_5972', 'beer_id_6029', 'beer_id_6030', 'beer_id_6034', 'beer_id_6138', 'beer_id_6150', 'beer_id_6329', 'beer_id_6331', 'beer_id_6332', 'beer_id_6353', 'beer_id_6397', 'beer_id_6400', 'beer_id_6523', 'beer_id_6551', 'beer_id_6723', 'beer_id_6761', 'beer_id_6769', 'beer_id_6824', 'beer_id_6825', 'beer_id_6968', 'beer_id_7047', 'beer_id_7167', 'beer_id_7324', 'beer_id_7348', 'beer_id_7360', 'beer_id_7425', 'beer_id_7448', 'beer_id_7463', 'beer_id_7516', 'beer_id_7672', 'beer_id_7673', 'beer_id_7675', 'beer_id_7693', 'beer_id_7694', 'beer_id_7731', 'beer_id_7810', 'beer_id_7811', 'beer_id_7815', 'beer_id_7816', 'beer_id_7828', 'beer_id_7842', 'beer_id_7849', 'beer_id_7956', 'beer_id_8102', 'beer_id_8203', 'beer_id_8274', 'beer_id_8284', 'beer_id_8310', 'beer_id_8422', 'beer_id_8424', 'beer_id_8514', 'beer_id_8555', 'beer_id_8575', 'beer_id_8590', 'beer_id_8679', 'beer_id_8717', 'beer_id_8769', 'beer_id_8770', 'beer_id_8869', 'beer_id_8950', 'beer_id_8999', 'beer_id_9117', 'beer_id_9118', 'beer_id_9200', 'beer_id_9238', 'beer_id_9239', 'beer_id_9240', 'beer_id_9241', 'beer_id_9422', 'beer_id_9511', 'beer_id_9906', 'beer_id_10001', 'beer_id_10265', 'beer_id_10465', 'beer_id_10466', 'beer_id_10478', 'beer_id_10479', 'beer_id_10480', 'beer_id_10602', 'beer_id_10605', 'beer_id_10645', 'beer_id_10649', 'beer_id_10656', 'beer_id_10784', 'beer_id_10785', 'beer_id_10786', 'beer_id_10788', 'beer_id_10789', 'beer_id_10793', 'beer_id_10794', 'beer_id_11126', 'beer_id_11263', 'beer_id_11324', 'beer_id_11325', 'beer_id_11328', 'beer_id_11456', 'beer_id_11493', 'beer_id_11635', 'beer_id_11641', 'beer_id_11642', 'beer_id_11664', 'beer_id_11709', 'beer_id_11753', 'beer_id_11757', 'beer_id_11789', 'beer_id_11896', 'beer_id_11897', 'beer_id_11899', 'beer_id_11900', 'beer_id_11958', 'beer_id_11963', 'beer_id_12073', 'beer_id_12143', 'beer_id_12155', 'beer_id_12181', 'beer_id_12186', 'beer_id_12197', 'beer_id_12386', 'beer_id_12421', 'beer_id_12492', 'beer_id_12655', 'beer_id_12734', 'beer_id_12754', 'beer_id_12824', 'beer_id_12835', 'beer_id_12928', 'beer_id_12982', 'beer_id_12992', 'beer_id_13006', 'beer_id_13009', 'beer_id_13020', 'beer_id_13084', 'beer_id_13112', 'beer_id_13152', 'beer_id_13241', 'beer_id_13261', 'beer_id_13276', 'beer_id_13282', 'beer_id_13289', 'beer_id_13349', 'beer_id_13350', 'beer_id_13545', 'beer_id_13548', 'beer_id_13583', 'beer_id_13816', 'beer_id_14014', 'beer_id_14241', 'beer_id_14242', 'beer_id_14243', 'beer_id_14299', 'beer_id_14300', 'beer_id_14301', 'beer_id_14348', 'beer_id_14394', 'beer_id_14395', 'beer_id_14396', 'beer_id_14397', 'beer_id_14413', 'beer_id_14435', 'beer_id_14454', 'beer_id_14589', 'beer_id_14591', 'beer_id_14592', 'beer_id_14973', 'beer_id_15062', 'beer_id_15130', 'beer_id_15131', 'beer_id_15139', 'beer_id_15140', 'beer_id_15202', 'beer_id_15203', 'beer_id_15204', 'beer_id_15244', 'beer_id_15280', 'beer_id_15291', 'beer_id_15292', 'beer_id_15339', 'beer_id_15369', 'beer_id_15401', 'beer_id_15474', 'beer_id_15550', 'beer_id_15578', 'beer_id_15654', 'beer_id_15660', 'beer_id_15797', 'beer_id_15894', 'beer_id_16073', 'beer_id_16074', 'beer_id_16079', 'beer_id_16083', 'beer_id_16115', 'beer_id_16122', 'beer_id_16417', 'beer_id_16491', 'beer_id_16638', 'beer_id_16692', 'beer_id_16693', 'beer_id_16695', 'beer_id_16818', 'beer_id_16892', 'beer_id_16893', 'beer_id_16894', 'beer_id_17010', 'beer_id_17059', 'beer_id_17070', 'beer_id_17072', 'beer_id_17094', 'beer_id_17124', 'beer_id_17160', 'beer_id_17162', 'beer_id_17183', 'beer_id_17285', 'beer_id_17499', 'beer_id_17525', 'beer_id_17536', 'beer_id_17537', 'beer_id_17538', 'beer_id_17557', 'beer_id_17566', 'beer_id_17610', 'beer_id_17655', 'beer_id_17737', 'beer_id_18091', 'beer_id_18203', 'beer_id_18279', 'beer_id_18293', 'beer_id_18294', 'beer_id_18310', 'beer_id_18313', 'beer_id_18327', 'beer_id_18382', 'beer_id_18448', 'beer_id_18449', 'beer_id_18450', 'beer_id_18533', 'beer_id_18573', 'beer_id_18604', 'beer_id_18713', 'beer_id_18879', 'beer_id_18898', 'beer_id_18903', 'beer_id_18968', 'beer_id_19046', 'beer_id_19047', 'beer_id_19099', 'beer_id_19123', 'beer_id_19139', 'beer_id_19141', 'beer_id_19142', 'beer_id_19143', 'beer_id_19149', 'beer_id_19201', 'beer_id_19260', 'beer_id_19261', 'beer_id_19274', 'beer_id_19309', 'beer_id_19337', 'beer_id_19459', 'beer_id_19551', 'beer_id_19558', 'beer_id_19562', 'beer_id_19674', 'beer_id_19869', 'beer_id_19871', 'beer_id_19895', 'beer_id_19898', 'beer_id_19960', 'beer_id_20017', 'beer_id_20021', 'beer_id_20022', 'beer_id_20038', 'beer_id_20112', 'beer_id_20169', 'beer_id_20199', 'beer_id_20202', 'beer_id_20204', 'beer_id_20243', 'beer_id_20310', 'beer_id_20367', 'beer_id_20379', 'beer_id_20417', 'beer_id_20447', 'beer_id_20470', 'beer_id_20478', 'beer_id_20504', 'beer_id_20505', 'beer_id_20539', 'beer_id_20560', 'beer_id_20575', 'beer_id_20584', 'beer_id_20757', 'beer_id_20758', 'beer_id_20817', 'beer_id_20818', 'beer_id_20859', 'beer_id_20860', 'beer_id_20891', 'beer_id_20893', 'beer_id_20901', 'beer_id_20962', 'beer_id_20986', 'beer_id_21034', 'beer_id_21110', 'beer_id_21191', 'beer_id_21217', 'beer_id_21246', 'beer_id_21436', 'beer_id_21483', 'beer_id_21521', 'beer_id_21556', 'beer_id_21607', 'beer_id_21652', 'beer_id_21688', 'beer_id_21694', 'beer_id_21704', 'beer_id_21751', 'beer_id_21753', 'beer_id_21762', 'beer_id_21772', 'beer_id_21800', 'beer_id_21822', 'beer_id_21824', 'beer_id_22169', 'beer_id_22174', 'beer_id_22213', 'beer_id_22272', 'beer_id_22450', 'beer_id_22464', 'beer_id_22590', 'beer_id_22591', 'beer_id_22604', 'beer_id_22608', 'beer_id_22609', 'beer_id_22615', 'beer_id_22616', 'beer_id_22622', 'beer_id_22658', 'beer_id_22697', 'beer_id_22808', 'beer_id_22817', 'beer_id_22907', 'beer_id_22958', 'beer_id_22960', 'beer_id_22962', 'beer_id_22966', 'beer_id_22968', 'beer_id_23013', 'beer_id_23014', 'beer_id_23015', 'beer_id_23118', 'beer_id_23282', 'beer_id_23290', 'beer_id_23315', 'beer_id_23327', 'beer_id_23328', 'beer_id_23329', 'beer_id_23406', 'beer_id_23474', 'beer_id_23563', 'beer_id_23568', 'beer_id_23599', 'beer_id_23616', 'beer_id_23660', 'beer_id_23668', 'beer_id_23669', 'beer_id_23729', 'beer_id_23795', 'beer_id_23904', 'beer_id_23913', 'beer_id_24057', 'beer_id_24059', 'beer_id_24082', 'beer_id_24185', 'beer_id_24233', 'beer_id_24244', 'beer_id_24443', 'beer_id_24444', 'beer_id_24473', 'beer_id_24722', 'beer_id_24905', 'beer_id_24989', 'beer_id_25049', 'beer_id_25101', 'beer_id_25103', 'beer_id_25153', 'beer_id_25181', 'beer_id_25196', 'beer_id_25214', 'beer_id_25250', 'beer_id_25251', 'beer_id_25252', 'beer_id_25382', 'beer_id_25386', 'beer_id_25405', 'beer_id_25414', 'beer_id_25422', 'beer_id_25466', 'beer_id_25468', 'beer_id_25520', 'beer_id_25656', 'beer_id_25812', 'beer_id_25852', 'beer_id_25884', 'beer_id_25917', 'beer_id_25918', 'beer_id_25932', 'beer_id_25952', 'beer_id_26007', 'beer_id_26012', 'beer_id_26079', 'beer_id_26201', 'beer_id_26350', 'beer_id_26352', 'beer_id_26353', 'beer_id_26393', 'beer_id_26394', 'beer_id_26418', 'beer_id_26419', 'beer_id_26420', 'beer_id_26446', 'beer_id_26562', 'beer_id_26651', 'beer_id_26722', 'beer_id_26771', 'beer_id_26817', 'beer_id_26853', 'beer_id_26854', 'beer_id_26909', 'beer_id_26930', 'beer_id_26964', 'beer_id_27229', 'beer_id_27347', 'beer_id_27362', 'beer_id_27488', 'beer_id_27586', 'beer_id_27588', 'beer_id_27589', 'beer_id_27590', 'beer_id_27596', 'beer_id_27597', 'beer_id_27664', 'beer_id_27666', 'beer_id_27753', 'beer_id_27785', 'beer_id_27799', 'beer_id_27828', 'beer_id_27861', 'beer_id_27865', 'beer_id_27982', 'beer_id_28096', 'beer_id_28100', 'beer_id_28350', 'beer_id_28373', 'beer_id_28427', 'beer_id_28428', 'beer_id_28430', 'beer_id_28431', 'beer_id_28432', 'beer_id_28469', 'beer_id_28668', 'beer_id_28676', 'beer_id_28726', 'beer_id_28727', 'beer_id_28730', 'beer_id_28949', 'beer_id_28950', 'beer_id_28951', 'beer_id_28952', 'beer_id_28954', 'beer_id_29142', 'beer_id_29145', 'beer_id_29198', 'beer_id_29204', 'beer_id_29227', 'beer_id_29241', 'beer_id_29292', 'beer_id_29608', 'beer_id_29687', 'beer_id_29697', 'beer_id_29727', 'beer_id_30034', 'beer_id_30181', 'beer_id_30182', 'beer_id_30183', 'beer_id_30195', 'beer_id_30199', 'beer_id_30226', 'beer_id_30241', 'beer_id_30247', 'beer_id_30248', 'beer_id_30271', 'beer_id_30272', 'beer_id_30273', 'beer_id_30368', 'beer_id_30371', 'beer_id_30372', 'beer_id_30484', 'beer_id_30550', 'beer_id_30563', 'beer_id_30571', 'beer_id_30608', 'beer_id_30618', 'beer_id_30682', 'beer_id_30686', 'beer_id_30704', 'beer_id_30733', 'beer_id_30776', 'beer_id_30790', 'beer_id_30983', 'beer_id_31063', 'beer_id_31080', 'beer_id_31118', 'beer_id_31426', 'beer_id_31427', 'beer_id_31487', 'beer_id_31507', 'beer_id_31508', 'beer_id_31596', 'beer_id_31625', 'beer_id_31630', 'beer_id_31703', 'beer_id_31704', 'beer_id_31705', 'beer_id_31790', 'beer_id_31912', 'beer_id_31935', 'beer_id_31948', 'beer_id_31970', 'beer_id_31973', 'beer_id_32084', 'beer_id_32134', 'beer_id_32179', 'beer_id_32222', 'beer_id_32264', 'beer_id_32283', 'beer_id_32306', 'beer_id_32368', 'beer_id_32371', 'beer_id_32374', 'beer_id_32486', 'beer_id_32508', 'beer_id_32625', 'beer_id_32661', 'beer_id_32676', 'beer_id_32710', 'beer_id_32711', 'beer_id_32759', 'beer_id_32780', 'beer_id_32844', 'beer_id_32923', 'beer_id_33040', 'beer_id_33116', 'beer_id_33227', 'beer_id_33242', 'beer_id_33272', 'beer_id_33445', 'beer_id_33505', 'beer_id_33584', 'beer_id_33624', 'beer_id_33644', 'beer_id_33662', 'beer_id_33698', 'beer_id_33706', 'beer_id_33772', 'beer_id_33783', 'beer_id_33869', 'beer_id_33880', 'beer_id_33927', 'beer_id_34146', 'beer_id_34152', 'beer_id_34326', 'beer_id_34341', 'beer_id_34342', 'beer_id_34343', 'beer_id_34361', 'beer_id_34362', 'beer_id_34368', 'beer_id_34393', 'beer_id_34416', 'beer_id_34419', 'beer_id_34461', 'beer_id_34569', 'beer_id_34590', 'beer_id_34636', 'beer_id_34637', 'beer_id_34722', 'beer_id_34738', 'beer_id_34808', 'beer_id_34982', 'beer_id_35036', 'beer_id_35064', 'beer_id_35156', 'beer_id_35228', 'beer_id_35351', 'beer_id_35378', 'beer_id_35386', 'beer_id_35571', 'beer_id_35572', 'beer_id_35573', 'beer_id_35643', 'beer_id_35649', 'beer_id_35707', 'beer_id_35717', 'beer_id_35881', 'beer_id_35882', 'beer_id_35886', 'beer_id_35982', 'beer_id_36035', 'beer_id_36036', 'beer_id_36037', 'beer_id_36039', 'beer_id_36083', 'beer_id_36167', 'beer_id_36267', 'beer_id_36268', 'beer_id_36269', 'beer_id_36270', 'beer_id_36299', 'beer_id_36348', 'beer_id_36367', 'beer_id_36376', 'beer_id_36380', 'beer_id_36391', 'beer_id_36470', 'beer_id_36484', 'beer_id_36522', 'beer_id_36580', 'beer_id_36609', 'beer_id_36661', 'beer_id_36670', 'beer_id_36732', 'beer_id_36757', 'beer_id_36776', 'beer_id_36862', 'beer_id_36943', 'beer_id_36982', 'beer_id_37045', 'beer_id_37046', 'beer_id_37174', 'beer_id_37175', 'beer_id_37237', 'beer_id_37403', 'beer_id_37506', 'beer_id_37518', 'beer_id_37559', 'beer_id_37619', 'beer_id_37650', 'beer_id_37681', 'beer_id_37930', 'beer_id_37952', 'beer_id_38196', 'beer_id_38200', 'beer_id_38213', 'beer_id_38226', 'beer_id_38233', 'beer_id_38261', 'beer_id_38414', 'beer_id_38468', 'beer_id_38540', 'beer_id_38552', 'beer_id_38619', 'beer_id_38683', 'beer_id_38754', 'beer_id_38766', 'beer_id_38807', 'beer_id_38808', 'beer_id_38827', 'beer_id_38865', 'beer_id_38866', 'beer_id_38982', 'beer_id_39007', 'beer_id_39008', 'beer_id_39009', 'beer_id_39030', 'beer_id_39215', 'beer_id_39289', 'beer_id_39299', 'beer_id_39314', 'beer_id_39360', 'beer_id_39480', 'beer_id_39550', 'beer_id_39606', 'beer_id_39618', 'beer_id_39669', 'beer_id_39677', 'beer_id_39716', 'beer_id_39886', 'beer_id_40004', 'beer_id_40028', 'beer_id_40140', 'beer_id_40153', 'beer_id_40176', 'beer_id_40248', 'beer_id_40268', 'beer_id_40302', 'beer_id_40303', 'beer_id_40308', 'beer_id_40319', 'beer_id_40336', 'beer_id_40342', 'beer_id_40448', 'beer_id_40484', 'beer_id_40537', 'beer_id_40595', 'beer_id_40629', 'beer_id_40631', 'beer_id_40632', 'beer_id_40765', 'beer_id_40766', 'beer_id_40767', 'beer_id_40815', 'beer_id_40980', 'beer_id_41084', 'beer_id_41106', 'beer_id_41116', 'beer_id_41130', 'beer_id_41136', 'beer_id_41240', 'beer_id_41294', 'beer_id_41315', 'beer_id_41360', 'beer_id_41476', 'beer_id_41491', 'beer_id_41492', 'beer_id_41503', 'beer_id_41508', 'beer_id_41516', 'beer_id_41519', 'beer_id_41532', 'beer_id_41557', 'beer_id_41613', 'beer_id_41647', 'beer_id_41683', 'beer_id_41688', 'beer_id_41767', 'beer_id_41768', 'beer_id_41772', 'beer_id_41778', 'beer_id_41788', 'beer_id_41816', 'beer_id_41843', 'beer_id_41866', 'beer_id_41881', 'beer_id_42030', 'beer_id_42195', 'beer_id_42273', 'beer_id_42331', 'beer_id_42332', 'beer_id_42534', 'beer_id_42573', 'beer_id_42591', 'beer_id_42626', 'beer_id_42627', 'beer_id_42830', 'beer_id_42904', 'beer_id_42939', 'beer_id_42948', 'beer_id_42953', 'beer_id_43091', 'beer_id_43108', 'beer_id_43114', 'beer_id_43146', 'beer_id_43151', 'beer_id_43312', 'beer_id_43364', 'beer_id_43373', 'beer_id_43396', 'beer_id_43438', 'beer_id_43514', 'beer_id_43516', 'beer_id_43837', 'beer_id_43893', 'beer_id_43904', 'beer_id_43920', 'beer_id_43922', 'beer_id_43944', 'beer_id_44019', 'beer_id_44081', 'beer_id_44082', 'beer_id_44161', 'beer_id_44279', 'beer_id_44351', 'beer_id_44429', 'beer_id_44459', 'beer_id_44537', 'beer_id_44579', 'beer_id_44596', 'beer_id_44684', 'beer_id_44686', 'beer_id_44687', 'beer_id_44704', 'beer_id_44909', 'beer_id_44914', 'beer_id_45116', 'beer_id_45132', 'beer_id_45137', 'beer_id_45201', 'beer_id_45260', 'beer_id_45318', 'beer_id_45344', 'beer_id_45347', 'beer_id_45450', 'beer_id_45482', 'beer_id_45555', 'beer_id_45628', 'beer_id_45701', 'beer_id_45726', 'beer_id_45727', 'beer_id_45743', 'beer_id_45774', 'beer_id_45820', 'beer_id_45855', 'beer_id_45878', 'beer_id_45885', 'beer_id_45887', 'beer_id_45922', 'beer_id_45923', 'beer_id_45991', 'beer_id_46078', 'beer_id_46088', 'beer_id_46089', 'beer_id_46170', 'beer_id_46179', 'beer_id_46238', 'beer_id_46242', 'beer_id_46248', 'beer_id_46249', 'beer_id_46252', 'beer_id_46254', 'beer_id_46255', 'beer_id_46276', 'beer_id_46317', 'beer_id_46386', 'beer_id_46634', 'beer_id_46639', 'beer_id_46650', 'beer_id_46670', 'beer_id_46683', 'beer_id_46821', 'beer_id_46824', 'beer_id_46825', 'beer_id_46856', 'beer_id_47046', 'beer_id_47084', 'beer_id_47237', 'beer_id_47240', 'beer_id_47241', 'beer_id_47245', 'beer_id_47421', 'beer_id_47422', 'beer_id_47541', 'beer_id_47569', 'beer_id_47570', 'beer_id_47596', 'beer_id_47646', 'beer_id_47658', 'beer_id_47659', 'beer_id_47693', 'beer_id_47694', 'beer_id_47695', 'beer_id_47710', 'beer_id_47712', 'beer_id_47781', 'beer_id_47783', 'beer_id_47832', 'beer_id_47843', 'beer_id_47880', 'beer_id_47969', 'beer_id_47986', 'beer_id_48047', 'beer_id_48061', 'beer_id_48066', 'beer_id_48078', 'beer_id_48112', 'beer_id_48148', 'beer_id_48167', 'beer_id_48172', 'beer_id_48213', 'beer_id_48215', 'beer_id_48301', 'beer_id_48313', 'beer_id_48422', 'beer_id_48438', 'beer_id_48439', 'beer_id_48466', 'beer_id_48519', 'beer_id_48521', 'beer_id_48525', 'beer_id_48526', 'beer_id_48527', 'beer_id_48530', 'beer_id_48548', 'beer_id_48549', 'beer_id_48550', 'beer_id_48551', 'beer_id_48555', 'beer_id_48556', 'beer_id_48605', 'beer_id_48658', 'beer_id_48911', 'beer_id_48932', 'beer_id_49038', 'beer_id_49071', 'beer_id_49075', 'beer_id_49076', 'beer_id_49077', 'beer_id_49237', 'beer_id_49271', 'beer_id_49360', 'beer_id_49391', 'beer_id_49416', 'beer_id_49418', 'beer_id_49442', 'beer_id_49452', 'beer_id_49485', 'beer_id_49490', 'beer_id_49571', 'beer_id_49707', 'beer_id_49718', 'beer_id_49731', 'beer_id_49748', 'beer_id_49786', 'beer_id_49803', 'beer_id_49864', 'beer_id_49865', 'beer_id_49949', 'beer_id_49959', 'beer_id_50005', 'beer_id_50083', 'beer_id_50084', 'beer_id_50089', 'beer_id_50215', 'beer_id_50267', 'beer_id_50315', 'beer_id_50411', 'beer_id_50448', 'beer_id_50520', 'beer_id_50524', 'beer_id_50525', 'beer_id_50586', 'beer_id_50698', 'beer_id_50714', 'beer_i

In [0]:
"""
Output of Feature Selection with only the 20 best Features
old_BIC = inf
counter = 20
best variable to add = review/timeUnix
81994.79083443646
counter = 19
best variable to add = log(ABV)
80019.29634033552
counter = 18
best variable to add = beer/ABV
78480.28112060089
counter = 17
best variable to add = American Double / Imperial Stout
77553.31354585008
counter = 16
best variable to add = roasted
76772.88785542494
counter = 15
best variable to add = coffee
76031.85409499507
counter = 14
best variable to add = smell
75353.65559595295
counter = 13
best variable to add = brewer_id_12224
74809.42572955527
counter = 12
best variable to add = brewer_id_765
74378.65946645789
counter = 11
best variable to add = American Malt Liquor
74030.15757782938
counter = 10
best variable to add = (ABV)^2
73698.69939626376
counter = 9
best variable to add = brewer_id_1199
73300.59777086921
counter = 8
best variable to add = beer_id_59239
72897.1886194611
counter = 7
best variable to add = Fruit / Vegetable Beer
72600.2840812654
counter = 6
best variable to add = Russian Imperial Stout
72302.03091523591
counter = 5
best variable to add = Euro Pale Lager
72041.48383930413
counter = 4
best variable to add = Munich Helles Lager
71815.8292974287
counter = 3
best variable to add = beer_id_429
71593.84076320872
counter = 2
best variable to add = brewer_id_14
71409.47166079063
counter = 1
best variable to add = beer_id_58053
71266.83749655793
"""